@import '../common';

.navbar {
	height: 6.5rem;
	background-color: $primaryColor;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: baseline;


	.nav-links,
	.logo {
		display: inline-block;
		margin:5px;
	}

	.logo {
		color: $lightTextColor;
	}

	.nav-links span {
		color: $lightTextColor;
		font-size: 1.6rem;
	}
}
.underline{
	border-bottom: 2px solid white;
}
a{
	text-decoration: none;
}