@import '../common';

.navbar {
	height: 6.5rem;
	background-color: #eaeaea;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: baseline;


	.nav-links,
	.logo {
		display: inline-block;
		margin:5px;
		color: #000;
	}

	.nav-links span {
		color: #000;
		font-size: 1.6rem;
	}
}
.underline{
	border-bottom: 2px solid #000;
}
a{
	text-decoration: none;
}