<div class="search">
	<i class="material-icons">search</i>
	<input type="text" placeholder="Search" ng-model="findTextModel" ng-change="$ctrl.findByText(findTextModel)">
</div>

<div class="container-fluid">

	<div class="table-row wrapper header">
		<div class="wrapper text-4">
			<div class="wrapper text-2">
				<div class="text">Name</div>
				<div class="text">Age</div>
				<div class="text">Skill</div>
				<div class="text">Level</div>
				<div class="text" style="opacity: 0;">Level</div>
			</div>
		</div>
	</div>

	{{ $ctrl.model.length }}

	<div class="table-row wrapper" ng-repeat="value in $ctrl.model track by $index">
		{{value}}
		<div class="wrapper text-4">
			<div class="wrapper text-2" ng-switch="$ctrl.edit[$index]">

				<div class="text">
					<span ng-switch-default>{{value.name}}</span>
					<input type="text" ng-switch-when="false" ng-value="value.name" ng-model="name" ng-blur="$ctrl.save($index, 0, name)">
				</div>

				<div class="text">
					<span ng-switch-default>{{value.age}}</span>
					<input type="number" ng-switch-when="false" ng-value="value.age" ng-model="age" ng-blur="$ctrl.save($index, 1, age)">
				</div>

				<div class="text">
					<span ng-switch-default>{{value.skill}}</span>
					<input type="text" ng-switch-when="false" ng-value="value.skill" ng-model="skill" ng-blur="$ctrl.save($index, 2, skill)">
				</div>

				<div class="text">
					<div ng-switch-when="false">
						<input type="number" style="width: 100%;" min="1" max="3" ng-value="value.level" ng-model="level" ng-blur="$ctrl.save($index, 3, level)">
					</div>
					<span ng-switch-default>
						<span ng-repeat="i in [].constructor(value.level) track by $index">
							<i class="material-icons">star</i>
						</span>
					</span>
				</div>

				<div class="text">
					<section>
						<i class="material-icons" ng-click="$ctrl.addItem()">add</i>
						<i class="material-icons" ng-switch-default ng-click="$ctrl.edit[$index] = !$ctrl.edit[$index]">create</i>
						<i class="material-icons" ng-switch-when="false" ng-click="$ctrl.edit[$index] = !$ctrl.edit[$index]">done</i>
						<i class="material-icons" ng-click="$ctrl.removeItem($index)">clear</i>
					</section>
				</div>

			</div>
		</div>
	</div>
</div>

<add-item ng-show="$ctrl.showAddItemModal"></add-item>
