<navbar model="$ctrl.model"></navbar>

<div class="container-fluid" style="margin-top: 10px;width: 80%;margin: auto;">
	
	<div class="table-row wrapper header">
		<div class="wrapper text-4">
			<div class="wrapper text-2">
				<div class="text">Name</div>
				<div class="text">Age</div>
				<div class="text">Skill</div>
				<div class="text">Level</div>
				<div class="text" style="opacity: 0;">Level</div>
			</div>
		</div>
	</div>


	<div class="table-row wrapper" ng-repeat="item in $ctrl.model" ng-init="int = []">
		<div class="wrapper text-4">
			<div class="wrapper text-2">
				<div class="text">
					<span ng-hide="int[$index]">{{item.name}}</span>
					<input type="text" ng-show="int[$index]" ng-value="item.name">
				</div>
				<div class="text">{{item.age}}</div>
				<div class="text">{{item.skill}}</div>
				<div class="text">
					<span ng-repeat="i in [].constructor(item.level) track by $index">
						<i class="material-icons">star</i>
					</span>
				</div>
				<div class="text">
					<i class="material-icons" ng-click="int[$index] = true" style="cursor: pointer;">create</i>
					<i class="material-icons" ng-click="$ctrl.removeItem($index)" style="cursor: pointer;">clear</i>
				</div>
			</div>					
		</div>
	</div>	 
	
	
	
</div>
