.add-item{
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    width: 65vw;
    height: 100%;
    top: 0;

    .add-item-form{
        position: absolute;
        width: 80%;
        background-color: aliceblue;
        padding: 10px 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        .add-item-block{
            display: flex;
            height: 150px;
            justify-content: space-around;
            align-items: initial;

            .input-block{
                display: flex;
                flex-direction: column;
    
                label{
                    font-size: 1.3em;
                    padding: 2px;
                }
                input{
                    width: 100px;
                    padding: 4px;
                }
            }
    
            i{
                position: absolute;
                right: 0;
                top: 0%;
                cursor: pointer;
            }
        }
    }
}
